
nav{
    background-color:  rgb(35, 35, 118);
    display: flex;
    justify-content: space-around;
    font-family: tahoma;
    font-size: 30px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
nav a:hover {
    color: rgb(54, 103, 238);
}
.logo{
    width: 150px;
}

.grid-container {
    display: grid;
}
.grid-container {
    display: grid;
    gap: 5px 5px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-image{
    width: 400px;
    height: 400px;
}
footer{
    background-color:rgb(35, 35, 118);
    text-align: left;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    color: white;  
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
} 
#here-img{
    width: 100%;
}
.medialogo{
    width: 50px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
button{
    background-color: rgb(35, 35, 118);
    color: white;
    border-radius: 14px;
    font-size: 30px;
    padding: 10px;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}